<footer class="page-footer">
<div class="container">
  <div class="row">
    <div class="col l3 s12">
    </div>
    <div class="col l6 s12">
    <div class=" center container">
    <h5 class="copyright"> Made by <a class=" link text-lighten-3" href="https://vk.com/foxbuka">@SealMafia</a> </h5>
    </div>
    </div>
    <div class="col l3 s12">
      
    </div>
  </div>
</div>

</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
