<%- include('./layouts/navbar.ejs')%>
 <div id="index-banner" class=" manPart parallax-container">
  <div id="advert"  class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class=" title header center  text-lighten-2">CheckOut</h1>
      <h1 class=" title1 header center  text-lighten-2">Change the world</h1>
      <div class="row center">
        <h5 class="navText header col s12 light">Все лучшие события вашего города прямо на карте.<br> Приходи и создавай свои события.</h5>
      </div>
      <div class="row center">
        <a href="#register" id="download-button" class=" menu btnStyle btn-large ">Регистрация</a>
      </div>
      <br><br>

    </div>
  </div>

  </div>

  <div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <section id="project">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="iconContent center "><i class="material-icons">location_on</i></h2>
          <h5 class="center">Карта с событиями</h5>

          <p class="light">Организация удобного взаимодействия при помощи интерактивной карты.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="iconContent center"><i class="material-icons">videogame_asset</i></h2>
          <h5 class="center">Геймификация</h5>

          <p class="light">Рейтинговая система и открытие дополнительных возможностией при повышении уровня.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="iconContent center "><i class="material-icons">stars</i></h2>
          <h5 class="center">Внутренняя валюта</h5>

          <p class="light">Организация собственных мероприятий и скидки в кафе/ресторанах.</p>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>


<section id="register">
  <div class="manPart parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <h3 class="regTitle"> Регистрация </h3>
          <form  id="add-user" action="/add-user" method="POST" class="col s14">
          <div class="row">
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">contacts</i>
              <input name="username"id="first_name" type="text" class="validate">
              <label for="first_name">Имя</label>
            </div>
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">contacts</i>
              <input name="usersurname" id="last_name" type="text" class="validate">
              <label for="last_name">Фамилия</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">account_circle</i>
              <input name="nickname" id="username" type="text" class="validate">
              <label for="username">Никнейм</label>
            </div>
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">email</i>
              <input name="email" id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">vpn_key</i>
              <input name="password" id="password" type="password" class="validate">
              <label for="password">Пароль</label>
            </div>
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">replay</i>
              <input id="password2" type="password" class="validate">
              <label for="password2">Повторить пароль</label>
            </div>
          </div>
          <a  href="javascript:{}" onclick="document.getElementById('add-user').submit();" class=" regButton btn right hoverable"><i class="large material-icons right">done</i>регистрация</a>
        </form>
    </div>
  </div>
  <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

<section id="crons">
<div class="container-wrap">
    <div class="row">
      <div class=" crons col s12 m6 center">        
          <p  class=" moreInfoTitle light"> <i class="fas fa-check-circle"></i> Шаг_1 - События города</p>
          <p class=" moreInfoText"> Наш сервис открывает доступ организациям для размещения актуальных событий в городе</p>
          <p  class=" moreInfoTitle  light"> <i class="fas fa-check-circle"></i> Шаг_2 - Посещение и получение</p>
          <p class="moreInfoText"> Пользователи приходят на мероприятия, после чего сервис регистрирует их геолокацию и начисляет "Монеты" </p>
          <p  class=" moreInfoTitle  light"> <i class="fas fa-check-circle"></i> Шаг_1 - Создаем и собираем</p>
          <p class="moreInfoText"> На полученные "Монеты" пользователь создает свои мероприятия, за что получает еще больше внутренней валюты с каждого готя. Также за "Монеты" можно получить скидку в кафе и ресторанах комплекса.</p>
      </div>
      <div class="col s12 m6 center">
          
      </div>
    </div>
  </div>
</section>



  <section  id="team">
<div class="container-wrap">
    <div class="row">
      <div class="teamLogo col s12 m12 center">        
        <section id="statistic">
     <div class="container-wrap">
         <div class="row">
             <div class="numbers col s12 m4">
                 <div class="center">
                     <h6 class="card-title center statitle"> 2 <br> года</h6>
                     <hr>
                     <h5 class="center statinfo"> Опыт в <br> веб-разработке</h5>
                 </div>
             </div>

             <div class="numbers col s12 m4">
                 <div class="center">
                     <h6 class="card-title center statitle"> 7 <br> хакатонов</h6>
                     <hr>
                     <h5 class="center statinfo"> 3 заавершенных лучших проекта  <br> в рамках соревнований </h5>
                 </div>
             </div>

             <div class="numbers col s12 m4">
                 <div class="center">
                     <h6 class="card-title center statitle"> 5+ <br> экспертов</h6>
                     <hr>
                     <h5 class="center  statinfo"> Принимают участие в <br> разработке продукта </h5>
                 </div>
             </div>

         </div>
     </div>
 </div>
 </div>
</section>

      
      </div>
    </div>
  </div>
</section>


<section id="contacts">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h3 class="contactUs">Свяжись с нами</h3>
          <form  id="user-quest" action="/add-user" method="POST" class="col s12">
          <div class="row">
            <div class="input-field hoverable col s4">
              <i class="material-icons prefix">contacts</i>
              <input name="usernamequest"id="first_namequest" type="text" class="validate">
              <label for="first_namequest">Имя</label>
            </div>
            <div class="input-field hoverable col s4">
              <i class="material-icons prefix">contacts</i>
              <input name="usersurnamequest" id="last_namequest" type="text" class="validate">
              <label for="last_namequest">Фамилия</label>
            </div>
            <div class="input-field hoverable col s4">
            <i class="material-icons prefix">account_circle</i>
            <input name="phonequest" id="userphonequest" type="text" class="validate">
            <label for="userphonequest">Номер телефона</label>
          </div>
          </div>
          <div class="row">
            <div class="input-field hoverable col s12">
              <i class="material-icons prefix">email</i>
              <textarea placeholder="Введите ваше сообщение" name="userQuest"  id="userQuest" class="materialize-textarea" data-length="320"></textarea>
              <label for="userQuest">Сообщение</label>
            </div>
          </div>
          <a  href="javascript:{}" onclick="document.getElementById('user-quest').submit();" class=" regButton btn right hoverable"><i class="large material-icons right">done</i>Отправить</a>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>
   <%- include('./layouts/footer.ejs')%>