<%- include('./layouts/navbar.ejs')%>


 <div id="index-banner" class=" manPart parallax-container">
  <div  class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class=" title header center  text-lighten-2">CheckOut</h1>
      <h1 class=" title1 header center  text-lighten-2">Change the world</h1>
      <div class="row center">
        <h5 class="navText header col s12 light">Все лучшие события вашего города прямо на карте.<br> Приходи и создавай свои события.</h5>
      </div>
      <div class="row center">
        <a href="#register" id="download-button" class="btnStyle btn-large ">Регистрация</a>
      </div>
      <br><br>

    </div>
  </div>

  </div>

  <div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <section id="project">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="iconContent center "><i class="material-icons">location_on</i></h2>
          <h5 class="center">Карта с событиями</h5>

          <p class="light">Организация удобного взаимодействия при помощи интерактивной карты.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="iconContent center"><i class="material-icons">videogame_asset</i></h2>
          <h5 class="center">Геймификация</h5>

          <p class="light">Рейтинговая система и открытие дополнительных возможностией при повышении уровня.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="iconContent center "><i class="material-icons">stars</i></h2>
          <h5 class="center">Внутренняя валюта</h5>

          <p class="light">Организация собственных мероприятий и скидки в кафе/ресторанах.</p>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>


<section id="register">
  <div class="manPart parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <h3 class="regTitle"> Регистрация </h3>
          <form class="col s14">
          <div class="row">
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">contacts</i>
              <input id="first_name" type="text" class="validate">
              <label for="first_name">Имя</label>
            </div>
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">contacts</i>
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Фамилия</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="username" type="text" class="validate">
              <label for="username">Никнейм</label>
            </div>
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">vpn_key</i>
              <input id="password" type="password" class="validate">
              <label for="password">Пароль</label>
            </div>
            <div class="input-field hoverable col s6">
              <i class="material-icons prefix">replay</i>
              <input id="password2" type="password" class="validate">
              <label for="password2">Повторить пароль</label>
            </div>
          </div>
          <a class=" regButton btn right hoverable"><i class="large material-icons right">done</i>register</a>
        </form>
    </div>
  </div>
  <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

<section id="crons">
<div class="container-wrap">
    <div class="row">
      <div class=" crons col s12 m6 center">        
          <p  class=" moreInfoTitle light"> <i class="fas fa-check-circle"></i> Шаг_1 - События города</p>
          <p class=" moreInfoText"> Наш сервис открывает доступ организациям для размещения актуальных событий в городе</p>
          <p  class=" moreInfoTitle  light"> <i class="fas fa-check-circle"></i> Шаг_2 - Посещение и получение</p>
          <p class="moreInfoText"> Пользователи приходят на мероприятия, после чего сервис регистрирует их геолокацию и начисляет "Монеты" </p>
          <p  class=" moreInfoTitle  light"> <i class="fas fa-check-circle"></i> Шаг_1 - Создаем и собираем</p>
          <p class="moreInfoText"> На полученные "Монеты" пользователь создает свои мероприятия, за что получает еще больше внутренней валюты с каждого готя. Также за "Монеты" можно получить скидку в кафе и ресторанах комплекса.</p>
      </div>
      <div class="col s12 m6 center">
          
      </div>
    </div>
  </div>
</section>

  <div id="team" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="./images/team.jpg" alt="Unsplashed background img 3"></div>
  
  </div>

  <div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
  </div>
</section>
   <%- include('./layouts/footer.ejs')%>