<%- include('./layouts/navbar.ejs')%>

<div class="container-wrap">
  <img src="./images/gps.svg" alt="gps" class="navig" onclick="toMyPos()" />
  <div  class=" modal-trigger"  href="#modal2" id="map"></div>
  <script src="./js/map.js"></script>


 
 

  <!-- Modal Structure -->
  <div class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>



  <!-- Event window -->
  <div  class="modal"  id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header modal-title_map">
          <h5 class="modal-title" id="eventWindowTitle_map">Создание события</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="eventForm_map" method="post" action="/add-event">
            <input type="text" class="form-control event_map" id="eventName" name="evName" placeholder="Название события">
            <input type="text" class="form-control event_map" id="eventDesc" name="evInfo" placeholder="Описание события">
            <input type="text" class="form-control event_map" id="evType" name="evType" placeholder="Тип события">

            <input type="text" class="form-control event_map noneNeed" id="lng" name="lng">
            <input type="text" class="form-control event_map noneNeed" id="lat" name="lat">
          
           
           <a data-dismiss="modal"><i class="fas fa-times-circle manip_map"></i></a>
            <a><i class="fas fa-plus-circle manip_map"></i></a> 
            <button onclick="saveBtn()" class="btn_reg_su">Зарегистрироваться</button>
          </form>


        </div>
      </div>
    </div>
  </div>

  <!-- Event marker window -->
  <div class="modal" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header modal-title_map">
          <h1 class="modal-title " id="eventMarkerTitle">Тут должно быть название события</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <span id="description"> </span>
          <label id="modal_address">Address here</label>
        </div>
        <div class="modal-footer">
          <button id="deleteRoutBtn" type="button" class="btn btn-primary manip_btn_map " onclick="deleteRout()" style="margin-top: 8px;">Убрать
            маршрут</button>
          <button type="button" class="btn btn-primary manip_btn_map " onclick="routeMe()" style="margin-top: 8px; ">Проложить
            маршрут</button>
          <button type="button" class="btn btn-primary manip_btn_map " data-dismiss="modal" style="margin-top: 8px; ">Отмена</button>
          <button type="button" class="btn btn-secondary manip_btn_map " onclick="deleteMarkerBtn()" style="margin-top: 8px;">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<%- include('./layouts/footer.ejs')%>
