/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 body{
  font-family: "Russo One", sans-serif;
  background: rgb(231, 232, 235);
 }

 .copyright{
  color:white;
  font-size: 20px;
  text-transform: uppercase;
 }
 .moreInfoText {
  color: rgb(226, 213, 213);
  text-transform: uppercase;
  padding-left: 12%;
  text-align: justify;
  padding-right:10%; 
  font-size: 12px;
  margin-bottom: 15%;
}
hr { border: 1px solid #01a4e2; width: 80%; margin-top: -15px; margin-left: 10%;}
.statitle { color: white; font-size: 47px; padding: 10%; font-weight: bold; font-family: "Russo One", sans-serif; text-shadow: 2px 1px 3px #000000; margin-top: 30%; }
.statinfo {  margin-bottom:  30%; color: white; font-size: 22px; text-align: center; text-shadow: 1px 2px 4px #000000; font-family: "Open Sans", sans-serif; }
.teamTitle{
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}
 .moreInfoTitle {
   color: rgb(255, 255, 255);
   font-weight: bold; 
   text-transform: uppercase;
   padding-left: 12%;
   text-align: justify;
   margin-top: 15%;
   font-size: 18px;
   margin-bottom: 2%;
 }

 #team{
   margin-top: -1.5%;
 }
 .teamLogo{
      background-size:cover;
      background-attachment: fixed; 
      background-image: linear-gradient( to right bottom, rgba(24, 22, 22, 0.9), rgba(17, 16, 16, 0.5)), url('../images/team.jpg'); 
 }
 .admSubmit{
   display: none;
   
 }
.log{
 
  padding: 5%;
  margin-bottom: 5%;
}
 .dropdown-trigger{

   background: #01a4e2;
   text-align: center;
   border-radius: 5%;
   border: 2px solid white;
 }

 .dropdown-trigger:hover{
  background: white;
  color: #01a4e2;
  border: 2px solid #01a4e2;
  border-radius: 0%;
}
 .crons{
  box-shadow: 0 8px 6px -6px black;
   background: #01a4e2;
 }
 .link {
   color: #01a4e2;
   font-size: 20px;
   text-transform: uppercase;
   transition: 0.3s;
 }
 .link:hover{
   color: white;
 }
 #index-banner{
  border-bottom: 3px solid #01a4e2;

 }
 
nav{
  background: rgba(22, 22, 22, 0);
  position: absolute;
  z-index: 1;
  height: 15%;
}

nav ul a,
nav .brand-logo {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  transition: 0.3s;
}
.checkout{
  width:200px;
  margin-top:-35%;
}
nav ul a:hover{
  color:#01a4e2;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #ffffff;

}
.navText{
  font-size: 24px;
  text-shadow: 2px 2px 1px  black;
  margin-bottom: 20px;
}
.regTitle{
  margin-bottom: 5%;
  margin-left: 4%; 
}
.regButton{
  background: #01a4e2;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  
}
.regButton:hover{
  background: white;
  color: black;
  font-weight: bold;
}
.iconContent{
  color:white;
  font-size: 50px;
  border: 3px solid #ffffff;
  text-shadow: 2px 2px 1px  black;
  box-shadow: 2px 2px 1px  black;
  background:#01a4e2; 
  border-radius: 50%;
  margin-left: 35%;
  width: 28%;
  padding-top: 4%;

}


#project{
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
 
}
.title{
  margin-top: 20%;
  color:#01a4e2;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 1px  black;
}

.title1 {
  color:#ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 1px  black;
}
.btnStyle{
  border: 3px solid #01a4e2;
  color:#01a4e2;
  font-weight: bold;
  background: rgba(255,255,255,0);
}
.btnStyle:hover{
  color:white;
  background: #01a4e2;
  border: 3px solid white;
}
.teamPart{
 
  background-size: cover;
  background-attachment: fixed;
  min-height: 680px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.manPart {
  background-image: linear-gradient( to right bottom, rgba(29, 32, 32, 0.9), rgba(17, 16, 16, 0.5)), url('../images/stavropol.jpg'); 
  background-size: cover;
  box-shadow: 0 8px 6px -6px black;
  background-attachment: fixed;
  min-height: 680px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
